body {
  font-family: 'Inter', sans-serif;
  color: black;
  background-color: #f6f5f5;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100vh;
}

.button {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  cursor: pointer;
}

.yellow-button {
  background-color: #ffba3f;
  border: none;
}


